@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h2 {
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  /* width: 90vw; */
  margin-inline: auto;
  padding: 20px;
  background-color: #efedee;
}

/* Navbar styling */
.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
  /* margin-inline: 35px 35px; */
}
.searchbar-container {
  width: 50%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-inline: 10px;
  /* position: relative; */
  /* width: fit-content; */
  /* margin-inline: auto; */
  padding: 0 15px;
  color: #808080;
  background-color: #fff;
}

.searchbar-container input {
  height: 50px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.1rem;
  text-align: center;
  margin-left: 15px;
}

.searchbar-container input:focus {
  outline: none;
}

.searchbar-container input::placeholder {
  text-align: left;
}

/* .search-icon {
  position: absolute;
  left: 15px;
  top: 13px;
} */

.navbar-secondpart {
  display: flex;
  gap: 15px;
  justify-content: end;
}

#hamburger-menu {
  display: none;
}

.icon-container {
  height: 55px;
  width: 55px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.icon {
  padding: 12px;
}

.profile-container {
  position: relative;
  height: 50px;
  width: 220px;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.profile-container .profile-img img {
  position: absolute;
  height: 50px;
  border-radius: 50%;
  left: 0;
  margin-block: auto;
}

.profile-container .users-name {
  position: absolute;
  right: 30px;
  padding: 15px 20px;
  color: #222;
}

.arrow-icon {
  position: absolute;
  right: 0;
  padding: 15px 20px;
}

/* Header styling */
.header1 {
  height: 250px;
  background-image: url("https://menufyproduction.imgix.net/638368663662716564+1279880.png?max-h=250&max-w=3000&fit=crop");
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  border-radius: 30px;
  margin: auto;
  width: auto;
  max-width: 2000px;
  position: relative;
}

.header1 h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  max-width: 500px;
  padding: 30px;
}

.explore-btn {
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.404);
  backdrop-filter: blur(100px);
  display: flex;
  gap: 10px;
  margin-left: 30px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  height: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
}
.explore-btn p {
  font-size: 18px;
  margin-block: auto;
}
.explore-btn .arrow-circle-icon {
  position: absolute;
  right: 0;
}

/* Sections */
.hero-section {
  margin: auto;
  margin-bottom: 40px;
}

.hero-section h1 {
  text-align: left;
  margin-left: 15px;
  color: #222;
}

/* Recipe Card */
.recipe-card-container {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin-inline: auto; */
}
.recipe-card {
  width: 340px;
  height: fit-content;
  margin: 10px;
  text-align: left;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.recipe-card h3 {
  margin-block-start: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-card p {
  margin-block-end: 10px;
}

.recipe-card .image-container {
  width: 340px;
  height: 150px;
}

.recipe-card img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.recipe-card .author {
  font-size: 14px;
  color: gray;
  text-transform: capitalize;
}

.recipe-card .recipe-details {
  position: relative;
  text-transform: capitalize;
  display: flex;
  gap: 5px;
}

.recipe-details div {
  background-color: #fee9ee;
  color: #ea5781;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 25px;
  position: relative;
  margin-bottom: 10px;
}

.recipe-details .small-icon {
  position: absolute;
  left: 5px;
  bottom: 4px;
}

.recipe-details p {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

/* View Details Button styling */
.view-details-btn {
  border: 1px solid white;
  color: #ea5781;
  background-color: #fee9ee;
  margin-top: 15px;
  padding: 7px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}

.heart-icon-container {
  height: 40px;
  width: 40px;
  padding: auto;
  position: absolute;
  right: 30px;
  bottom: 175px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.heart-icon {
  padding: 7px;
}

/* Star Icon styling */
.star-icon-container {
  display: inline-flex;
  color: gray;
  font-size: 14px;
  margin-block-end: 10px;
}
.star-icon {
  padding: 2px;
  /* background-color: red; */
}

/* Ingredients Page */
.ingredients-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.food-name {
  text-align: center;
}

.ingredients-more-action {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.ingredients-more-action div {
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.ingredients-more-action div .ingredients-icon {
  padding: 10px;
}
.ingredients-more-action div p {
  padding: 10px;
}
.ingredients-information {
  text-align: start;
  background-color: #fff;
  border-radius: 10px;
  padding-block: 10px;
}

.ingredients-information li {
  color: #808080;
}

.ingredients-information li::marker {
  color: #e9083f;
}

.list-of-nutrition {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dotted #808080;
  color: #808080;
  text-transform: capitalize;
  padding-block: 8px;
  margin-right: 20px;
}

.nutrition-unit {
  color: #e9083f;
  font-weight: bold;
  text-transform: lowercase;
}

.homepage-btn {
  border: none;
  outline: none;
  background-color: #e9083f;
  padding: 10px;
  border-radius: 10px;
  color: #ffffffd4;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
  margin: 15px;
}

/* Favorite Page */
.favorite-container h1 {
  text-align: left;
}

/* Profile pages */
.profile-info {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  margin-block-start: 70px;
  padding-block: 40px;
  color: gray;
}
.profile-info .pfp {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 46%;
  bottom: 200px;
}

.profile-info .pfp img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-info h1 {
  padding-block-start: 40px;
}

/* Animation (Optional) */
/* @keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
    clip-path: inset(0 0 0 0);
  }
}

.recipe-card {
  animation: appear 2s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
} */

/* Responsive Design */
@media screen and (max-width: 1300px) {
  .recipe-card {
    width: 300px;
  }
  .recipe-card .image-container {
    width: 300px;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    width: 100vw;
  }
  .navbar-container {
    width: 90%;
  }
  .header1 {
    width: 90%;
    margin-left: 15px;
  }
  .recipe-card {
    width: 340px;
  }
  .recipe-card .image-container {
    width: 340px;
  }
}

@media screen and (max-width: 976px) {
  .ingredients-page {
    grid-template-columns: 1fr;
}
.ingredients-more-action {
  display: inline-flex;
  margin-right: auto;
}
}

@media screen and (max-width: 800px) {
  #icon-container {
    display: none;
  }
  #hamburger-menu {
    display: none;
    margin-block: auto;
  }
  .searchbar-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .header1 {
    height: 350px;
    background-image: url("https://menufyproduction.imgix.net/638368663662716564+1279880.png?max-h=350&max-w=1000&fit=crop");
    /* width: auto; */
    font-size: 1.5rem;
    overflow: none;
  }
}
@media screen and (max-width: 550px) {
  .food-name {
    text-align: left;
}
.ingredients-image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

}
/* 
@media screen and (max-width: 400px) {
  .header1 {
    height: 250px;
    background-image: url("https://menufyproduction.imgix.net/638368663662716564+1279880.png?max-h=250&max-w=1000&fit=crop");
  }
} */
